body {
    font-family: 'Open Sans', sans-serif;
}
#home {
    padding-bottom: 6px !important;
    font-size: 18px;
}
.content {
    min-height: 512px;
}
a {
    text-decoration: none;
    color: #666;
}
.info {
    font-size: 10px;
}
p.title {
    font-family: 'Open Sans', sans-serif;
    font-size:24px;
}
a:hover {
    text-decoration: underline;
}
ul {
    list-style-type: none;
}
li {
    margin-top: 5px;
    margin-bottom: 5px;
}
footer {
    font-size: 14px;
}
#right_col {
    padding-left: 20px;
    border-left: 1px solid #BBB;
}
