/* vim: set ts=4 sw=4 noet : */
body {
	/* font-family: 'Open Sans', sans-serif; */
	/* font-family: Cantarell,Lato,LatoExtended,sans-serif; */
	font-family: 'Fira Code', 'Nanum Gothic Coding', monospace;
}
a {
	text-decoration: none;
	color: #ff4742;
}
a:hover {
	text-decoration: underline;
}
header {
	width: 25%;
	color: #444;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
	border-right: solid 1px #AAA;
	padding: 1em;
}
#main_container, footer {
	margin-left: 25%;
}
#blog_title {
	text-align: center;
}
.contact > p {
	margin-top: 0;
	font-size: 0.75em;
	margin-left: 1em;
}
pre code {
	display: block;
	padding: 5px;
	background-color: #DDD;
	border: solid 1px #AAA;
}
p code {
	padding: 1px;
	background-color: #DDD;
}
.info {
	font-size: 10px;
}
.post img {
	max-height: 450px;
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#meta_container {
	width: 40px;
	padding: 5px;
	background-color: #000;
	border-radius: 3px 3px;
	opacity: 0.2;
}
#meta_container:hover {
	opacity: 0.5;
}
#bg_img_source {
	margin: 0 auto;
	display: block;
	width: 25px;
	height: 25px;
	border-radius: 100%;
	border: 5px solid #FFF;
}
#bg_img_source:hover {
	box-shadow: 0px 0px 5px #fff;
	opacity: 1.0;
}
#busted_pixel {
	position: fixed;
	top: 420px;
	left: 690px;
	z-index: 1000;
}
span.suc {
	text-align: center;
	background-color: #A0FFA0;
	padding: 0.2em;
	width: 7em;
	display: inline-block;
}
span.fail {
	text-align: center;
	background-color: #FF9090;
	padding: 0.2em;
	width: 7em;
	display: inline-block;
}
span.unsure {
	text-align: center;
	background-color: #FFFF80;
	padding: 0.2em;
	width: 7em;
	display: inline-block;
}
li {
	margin-top: 5px;
	margin-bottom: 5px;
}
footer {
	font-size: 10px;
}
footer ul {
	list-style: none;
}
