xXx PARENT=templates/base.html xXx
xXx TITLE xXx
    Blog
xXx TTYL xXx
xXx META xXx
<meta name="description" content="q.pfiffer.org blog posts">
xXx TTYL xXx
xXx SCRIPTS xXx
<link rel="stylesheet" href="/static/css/blog.css" />
xXx TTYL xXx
xXx CONTENT xXx
<div class="grid grid-pad">
    <div class="col-1-1">
        <div class="content">
            <h2>All Posts</h2>
            <ul>
            xXx LOOP blog_meta POSTS xXx
                <li class="content blog_item">
                    <code>xXx blog_meta$date xXx</code> - xXx blog_meta$tags xXx<a href="xXx blog_meta$link xXx">xXx blog_meta$title xXx &raquo;</a>
                </li>
            xXx BBL xXx
            </ul>
        </div>
    </div>
</div>
xXx TTYL xXx
