xXx PARENT=templates/base.html xXx
xXx TITLE xXx
    Community & Support
xXx TTYL xXx
xXx META xXx
<meta name="description" content="OlegDB - Community & Support">
xXx TTYL xXx
xXx CONTENT xXx
    <div class="grid grid-pad">
        <div class="col-12-12">
            <div class="content">
                <h1>Support</h1>
                <p>Feel free to drop by either the <a href="#irc">IRC</a> channel or accost us on <a href="#twitter">twitter</a>.</p>
                <div>
                    <h2 id="irc">IRC</h2>
                    <p>You can find us on <a href="http://irc.freenode.net/">Freenode</a> in the <strong>#olegdb</strong> channel.</p>
                    <h2 id="twitter">Twitter</h2>
                    <p>Developers:
                    <ul>
                        <li><a href="https://twitter.com/WAallLy">Quinlan Pfiffer</a></li>
                        <li><a href="https://twitter.com/s0paranoid">Kyle Terry</a></li>
                        <li><a href="https://twitter.com/Hamcha">Hamcha</a></li>
                    </ul>
                </div>
                <h1>Community</h1>
                <p>OlegDB/liboleg is a pretty active open source project, you can <a href="https://github.com/infoforcefeed/OlegDB">
                    fork, change and pull request</a> your way into the CONTRIBUTORS file.
                </p>
                <p>For any specific project guidelines, please refer to the <a href="https://github.com/infoforcefeed/OlegDB/blob/master/CONTRIBUTING.md">CONTRIBUTING</a> file.<p>
            </div>
        </div>
    </div>
xXx TTYL xXx
