xXx PARENT=templates/base.html xXx
xXx TITLE xXx
Home
xXx TTYL xXx

xXx SCRIPTS xXx
xXx TTYL xXx

xXx META xXx
<meta name="description" content="Home of xXx SITENAME xXx">
xXx TTYL xXx

xXx END_SCRIPTS xXx
xXx TTYL xXx

xXx CONTENT xXx
<div class="grid grid-pad">
    <div class="col-1-1">
        <div class="content">
            <h2>Recent Posts</h2>
            <ul>
            xXx LOOP blog_meta POSTS_LIMITED xXx
                <li class="content blog_item">
                    <code>xXx blog_meta$date xXx</code> - <a href="/xXx blog_meta$link xXx">xXx blog_meta$title xXx</a>
                    <a href="xXx blog_meta$link xXx">&nbsp; &raquo;</a>
                </li>
            xXx BBL xXx
            </ul>
            <p>Read older posts <a href="/blog.html">here.</a></p>
        </div>
    </div>
</div>
<div class="grid grid-pad">
    <div class="col-1-2">
        <div class="content">
            <h2>Projects</h2>
            <ul>
                <li><a href="https://olegdb.org/">OlegDB</a> - Transactional Datastore, elaborate art project</a></li>
                <li><a href="https://github.com/qpfiffer/38-Moths">38-Moths</a> - C micro web-framework</a></li>
                <li><a href="http://shithouse.tv/">shithouse.tv</a> - A poor-man's YTMND</a></li>
                <li><a href="http://meta.infoforcefeed.org/">#metaforcefeed</a> - Project management, cult-driven voting utility</a></li>
                <li><a href="https://github.com/infoforcefeed/mayo-workbench">Mayo Workbench</a> - CRUD app for OlegDB</a></li>
            </ul>
            <p>See my <a href="https://github.com/qpfiffer">github profile</a> for more.</p>
        </div>
    </div>
</div>
xXx TTYL xXx
