xXx PARENT=templates/base.html xXx
xXx TITLE xXx
Home
xXx TTYL xXx

xXx SCRIPTS xXx
xXx TTYL xXx

xXx META xXx
<meta name="description" content="Home of xXx SITENAME xXx">
<!-- "If u can’t find peace sitting down at a table alone drinking black coffee with no cell phone or money. You need to stop lifting and go back In time when man had strength that is now lost." -->
<!-- https://www.instagram.com/p/CKxb95GAfUjwfVOPe7o5Ag8VEWm0qznw5cYcU40/ -->
xXx TTYL xXx

xXx END_SCRIPTS xXx
xXx TTYL xXx

xXx CONTENT xXx
<div class="grid grid-pad">
    <div class="col-1-1">
        <div class="content">
            <h2>Recent Posts</h2>
            <ul>
            xXx LOOP blog_meta POSTS_LIMITED xXx
                <li class="content blog_item">
                    <code>xXx blog_meta$date xXx</code> - xXx blog_meta$tags xXx<a href="xXx blog_meta$link xXx">xXx blog_meta$title xXx &raquo;</a>
                </li>
            xXx BBL xXx
            </ul>
            <p>Read older posts <a href="/blog.html">here.</a></p>
        </div>
    </div>
</div>
<div class="grid grid-pad">
    <div class="col-1-1">
        <div class="content">
            <h2>Projects</h2>
            <ul>
                <li><a href="https://olegdb.org/">OlegDB</a> - Transactional Datastore, elaborate art project</li>
                <li><a href="https://wheypi.shithouse.tv/">WheyPI</a> - API for tracking exercises.</li>
                <li><a href="https://github.com/qpfiffer/38-Moths">38-Moths</a> - C micro web-framework</li>
                <li><a href="https://burrito.shithouse.tv/">PDX Burrito Review</a> - Portland Burrito Reviews</li>
                <li><a href="https://shithouse.tv/">shithouse.tv</a> - A poor-man's YTMND</li>
                <li><a href="https://github.com/qpfiffer/Simple-Sparsehash">Simple SparseHash</a> - A reimplementation of Google's <a href="https://github.com/sparsehash/sparsehash">SparseHash</a> library</li>
                <li><a href="https://github.com/qpfiffer/lair">Lair</a> - A partially completed <a href="https://github.com/MuteLang/DenLang">Den</a> implementation</li>
                <li><a href="https://github.com/infoforcefeed/mayo-workbench">Mayo Workbench</a> - CRUD app for OlegDB</li>
            </ul>
            <p>See my <a href="https://github.com/qpfiffer">github profile</a> for more.</p>
        </div>
    </div>
</div>
xXx TTYL xXx
