xXx PARENT=templates/base.html xXx
xXx TITLE xXx
    Linktree
xXx TTYL xXx
xXx META xXx
<meta name="description" content="q.pfiffer.org links to other places">
xXx TTYL xXx
xXx SCRIPTS xXx
xXx TTYL xXx
xXx CONTENT xXx
<div class="grid grid-pad">
    <div class="col-1-1">
        <div class="content">
            <h2>Links</h2>
            <ul class="linktree">
                <li>
                    <a href="/">Website</a>
                </li>
                <li>
                    <img src="/static/img/gg2.gif" /><a href="/posts/2023-09-05-Tajikistan_2023.html">Murghab: Tajikistan 2023</a>
                </li>
                <li>
                    <a href="/posts/2022-09-26-Nahanni_2022_pt_2.html">Nahanni Trip 2: The Climb</a>
                </li>
                <li>
                    <a href="/posts/2022-08-30-Nahanni_2022.html">Nahanni Trip 1: Little Nahanni</a>
                </li>
                <li>
                    <a href="/posts/2021-07-01-Kyrgyzstan_2021.html">Kyrgyzstan 2021 pt. 1</a>
                </li>
                <li>
                    <a href="/posts/2021-09-08-Kyrgyzstan_2021_2.html">Kyrgyzstan 2021 pt. 2</a>
                </li>
                <li>
                    <a href="/posts/2020-10-22-Canyonlands.html">Canyonlands 2020</a>
                </li>
            </ul>
        </div>
    </div>
</div>
xXx TTYL xXx
